[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
torch = "*"
transformers = "*"
datasets = "*"
pytest = "*"
flask = "*"
pytest-flask = "*"
sentencepiece = "*"
black = "*"
pymongo = "*"
python-dotenv = "*"
librosa = "*"
soundfile = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
