[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
datasets = "*"
flask = "*"
sentencepiece = "*"
pymongo = "*"
python-dotenv = "*"
librosa = "*"
torchaudio = "*"
python-ffmpeg = "*"
soundfile = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-flask = "*"
black = "*"

[requires]
python_version = "3.10"
