<!DOCTYPE html>
<html>
  <head>
    <title>Webapp for Project 4</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
    /> -->
  </head>
  <body>
    <div>
      <header>
        <h1>Webapp for Project 4</h1>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          &copy; 2022. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/nyu-software-engineering/flask-pymongo-web-app-example"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>