{% extends 'base.html' %}

{% block container %}

    <div class="card-area"></div>

    <div id="status" style="display: none;"></div>

    <button id="record">Record</button>
    <button id="stop" style="display: none;">Stop</button>

    <button id="next" style="display: none;">Next</button>
    <button id="end" style="display: none;">End</button>

    <div class="navigation">
        <a href="/scores" id="view_scores" class="active" style="display: none;">View Scores</a>
    </div>

    <script src="{{ url_for('static', filename='js/client.js') }}"></script>

{% endblock %}